
.col-sm-12.col-md-6.col-lg-4.mb-4.p-5
  = form_with(model: @task, local: true) do |form|
    .card.text-dark.card-has-bg.click-col{style: "background-image:url('https://source.unsplash.com/600x900/?tech,street');"}
      %img.card-img.d-none{src: "https://source.unsplash.com/600x900/?tech,street", alt: "Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?"}
      .card-img-overlay.d-flex.flex-column
        .card-body
          %small= form.text_area :title, class: "card-meta mb-2 field_input", rows: 3
          %small= form.text_area :description, class: "field_input", rows: 7
        .card-footer
          .media.d-flex.flex-column.gap-2
            .d-flex.flex-row.justify-content-start.gap-2{"data-controller" => "tasks"}
              - AppConstants::STATUS.each do |key, value|
                - icon_class = case key
                  - when :PENDING then 'fa-battery-empty'
                  - when :STARTED then 'fa-battery-half'
                  - when :COMPLETED then 'fa-battery-full'
                %label.mr-3{"data-value" => value, style: "cursor: pointer;"}
                  = form.radio_button :completion_status, value, checked: @task.completion_status == value, data: {action: "change->tasks#checked"}
                  .rounded-circle.d-flex.justify-content-center.align-items-center{style: "width:3rem; height:3rem; border:2px solid grey;"}
                    %i{"class" => "fa #{icon_class}", style: "color:limegreen; font-size: 1.5em;", "aria-hidden" => "true"}
            .media-body.d-flex.flex-row.justify-content-between.align-items-center
              %div
                - if @task.updated_at == @task.created_at
                  %small
                    %i Created
                  %small= @task.created_at.strftime("%B %d, %Y")
                - elsif @task.updated_at != @task.created_at
                  %div
                    %small
                      %i Updated
                    %small= @task.updated_at.strftime("%B %d, %Y")
              %div
                = button_tag(type: 'submit', class: 'btn btn-outline-primary', id: "updateButton", disabled: false) do
                  Update
