<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card text-dark card-has-bg click-col"
        style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
        <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Creative Manner Design Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
                <small class="card-meta mb-2"><%=task["title"]%></small>
                <%# <h4 class="card-title mt-0 "><a class="text-dark" herf="https://creativemanner.com">PLACEHOLDER</a></h4> %>
                <small><i class="far fa-clock"></i> <%=task["description"]%></small>
            </div>
            <div class="card-footer">
                <div class="media">
                    <img class="mr-3 rounded-circle" src="" alt="" style="max-width:50px; min-width:75px; min-height:75px;">
                    <h6 class="my-0 text-dark d-block"><%=task["completion_status"]%></h6>
                    <%if task.completion_status == AppConstants::STATUS[:PENDING]%>
                        <p>this is a test</p>
                    <%end%>
                    <div class="media-body">
                        <div>
                            <small><%=task.created_at.strftime("%B %d, %Y")%></small>
                        </div>
                        <div style="display:flex; flex-direction:row; gap:5px; justify-content: end">
                            <%= link_to tasks_edit_path(task), style: "font-size: 1em; color: Tomato;", data: { bs_toggle: "tooltip", bs_placement: "top" }, title: "Edit task" do %>
                                <i class="fa fa-pencil"></i>
                            <% end %>
                            <%= link_to tasks_destroy_path(task), style: "font-size: 1em; color: Tomato;", data: { bs_toggle: "tooltip", bs_placement: "top" }, title: "Delete task" do %>
                                <i class="fa fa-trash-o"></i>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>