%header.header.container-fluid
  .header-container.row.row-no-gutters
    .logo.col-xs-4.col-sm-3.col-md-3
      %a{href: 'https://contacts.costco.com/'}
        = image_tag "costco-optical.svg", alt: 'Costco US Homepage'
    .navigation.col-xs-12.col-sm-4.col-md-3.col-lg-3
      = link_to '#shop-menu', 'data-toggle' => 'collapse', class: 'shop visible-xs visible-sm' do
        %i.costco-menu{aria: {hidden: 'true'}} b
        = t('.shop')
      - cache('shop_menu',expires_in: 15.minutes) do
        %ul#shop-menu.collapse.no-transition{role: 'navigation', aria: {label: 'Main Navigation'}}
          = link_to "#reset-menu", id: "reset-menu-xs", class: "visible-xs visible-sm hidden" do
            All Departments
          = link_to "Contact Lenses Home", root_path, id: "contact-lenses-home-link-xs", class: "visible-xs visible-sm"
          = link_to '#brand-menu', 'data-toggle' => 'collapse', class: 'visible-xs visible-sm' do
            Brands
          %ul#brand-menu.collapse.no-transition
          - if @brands
            - @brands.each do |brand|
              %li 
                = link_to "#{brand.description}", products_path(brand_ids: [brand.id])
          = link_to '#vendor-menu', 'data-toggle' => 'collapse', class: 'visible-xs visible-sm' do
            Manufacturers
          %ul#vendor-menu.collapse.no-transition
          - if @vendors
            - @vendors.each do |vendor|
              %li 
                = link_to "#{vendor.name.titleize}", products_path(vendor_ids: [vendor.id])
          = link_to '#lens-type-menu', 'data-toggle' => 'collapse', class: 'visible-xs visible-sm' do
            Lens Types
          %ul#lens-type-menu.collapse.no-transition
          - if @lens_types
            - @lens_types.each do |lens_type|
              %li 
                = link_to "#{lens_type['description'].titlecase}", products_path(lens_type_ids: [lens_type['id']])
          = link_to "Eyeglasses", "https://glasses.costco.com", id: "glasses-costco-com-link-xs", class: "visible-xs visible-sm"
          = link_to "Costco.com", "https://www.costco.com", id: "costco-com-link-xs", class: "visible-xs visible-sm"
      .search
        = form_tag(method: :get, id: 'filter-form') do
          %label.sr-only{for: 'search'} Search
          = text_field_tag(id: 'search', class: 'form-control', autocomplete: 'off', placeholder: t('.search_placeholder'))
          %i.costco-search.search{aria: {hidden: 'true'}} k
    %ul.menu.col-xs-8.col-sm-5.col-md-6.col-lg-6
      %li
        = link_to "https://www.costco.com/warehouse-locations" do
          %i.costco-warehouses.visible-xs.visible-sm.text-center{aria: {hidden: 'true'}} p
          %span.hidden-xs.hidden-sm
            = t('.find_a_warehouse')
          %span.visible-xs.visible-sm
            = t('.warehouses')
      %li
        = link_to "https://www.costco.com/join-costco.html" do
          %i.costco-account.visible-xs.visible-sm.text-center{aria: {hidden: 'true'}} q
          %span.hidden-xs.hidden-sm
            = t('.membership')
      %li.cart
        = link_to "/CheckoutCartView?langId=-1&storeId=10301&catalogId=10701" do
          %i.costco-cart.text-center{aria: {hidden: 'true'}} a
          = t('.cart')